basePath: /
definitions:
  internal_handlers_news.ErrorResponse:
    properties:
      Error:
        type: string
      Success:
        example: false
        type: boolean
    type: object
  internal_handlers_news.NewsListsResponse:
    properties:
      News:
        items:
          $ref: '#/definitions/service_internal_models.NewsWithCategories'
        type: array
      Success:
        example: true
        type: boolean
    type: object
  internal_handlers_news.SuccessResponse:
    properties:
      Success:
        example: true
        type: boolean
    type: object
  internal_handlers_news.SuccessResponseCreate:
    properties:
      Id:
        example: 1
        type: integer
      Success:
        example: true
        type: boolean
    type: object
  service_internal_models.NewsCreateForm:
    properties:
      Categories:
        items:
          type: integer
        type: array
      Content:
        minLength: 1
        type: string
      Title:
        maxLength: 255
        minLength: 1
        type: string
    required:
    - Content
    - Title
    type: object
  service_internal_models.NewsEditForm:
    properties:
      Categories:
        items:
          type: integer
        type: array
      Content:
        minLength: 1
        type: string
      Title:
        maxLength: 255
        minLength: 1
        type: string
    type: object
  service_internal_models.NewsWithCategories:
    properties:
      Categories:
        items:
          type: integer
        type: array
      Content:
        type: string
      Id:
        type: integer
      Title:
        type: string
    type: object
host: localhost:8080
info:
  contact: {}
  title: News Service API
  version: "1.0"
paths:
  /create:
    post:
      consumes:
      - application/json
      description: 'Create news with title, content and categories(optional). Categories
        must be positive integers, example: [1, 2, 3]'
      parameters:
      - description: News data
        in: body
        name: request
        required: true
        schema:
          $ref: '#/definitions/service_internal_models.NewsCreateForm'
      produces:
      - application/json
      responses:
        "201":
          description: News created successful
          schema:
            $ref: '#/definitions/internal_handlers_news.SuccessResponseCreate'
        "400":
          description: Validation error
          schema:
            $ref: '#/definitions/internal_handlers_news.ErrorResponse'
        "401":
          description: No authorization
          schema:
            $ref: '#/definitions/internal_handlers_news.ErrorResponse'
        "500":
          description: Internal server error
          schema:
            $ref: '#/definitions/internal_handlers_news.ErrorResponse'
      security:
      - BearerAuth: []
      summary: Create news
      tags:
      - news
  /edit/{id}:
    post:
      consumes:
      - application/json
      description: 'Edit news fields (title, content, categories). Categories must
        be positive integers, example: [1, 2, 3]'
      parameters:
      - description: ID news
        in: path
        name: id
        required: true
        type: integer
      - description: News updated data
        in: body
        name: request
        required: true
        schema:
          $ref: '#/definitions/service_internal_models.NewsEditForm'
      produces:
      - application/json
      responses:
        "200":
          description: Success updated
          schema:
            $ref: '#/definitions/internal_handlers_news.SuccessResponse'
        "400":
          description: Error validation
          schema:
            $ref: '#/definitions/internal_handlers_news.ErrorResponse'
        "401":
          description: Not authorized
          schema:
            $ref: '#/definitions/internal_handlers_news.ErrorResponse'
        "404":
          description: News not found
          schema:
            $ref: '#/definitions/internal_handlers_news.ErrorResponse'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/internal_handlers_news.ErrorResponse'
      security:
      - BearerAuth: []
      summary: Edit news
      tags:
      - news
  /list:
    get:
      consumes:
      - application/json
      parameters:
      - description: default=10, max=100
        in: query
        name: limit
        type: integer
      - description: default=0
        in: query
        name: offset
        type: integer
      produces:
      - application/json
      responses:
        "200":
          description: List news
          schema:
            $ref: '#/definitions/internal_handlers_news.NewsListsResponse'
        "400":
          description: Error validation params
          schema:
            $ref: '#/definitions/internal_handlers_news.ErrorResponse'
        "401":
          description: Not authorized
          schema:
            $ref: '#/definitions/internal_handlers_news.ErrorResponse'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/internal_handlers_news.ErrorResponse'
      security:
      - BearerAuth: []
      summary: Get news
      tags:
      - news
securityDefinitions:
  BearerAuth:
    description: Bearer <ваш_токен>
    in: header
    name: Authorization
    type: apiKey
swagger: "2.0"
